.row {
    background-color: #ffffff;
    padding: 20px;
  }
  
  .titulo {
    font-size: 3vh; 
    font-weight: 600; 
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
    text-align: center; 
    text-transform: capitalize; 
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  